*{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Amiko', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(37, 37, 37);
    overflow-x: hidden;
}



.applicant{
    position: relative;
    min-height: 100vh;
    padding: 90px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #DCE1E3;
}
.applicant .content{
    min-width: 800px;
    text-align: center;
}
.applicant .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #000000;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.container .applicantInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .applicantInfo .box{
    position: relative;
    padding: 5px 0;
    display: flex;
}
.container .applicantInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.container .applicantInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    color:  #fff;
}
.container .applicantInfo .box .text a{
    text-decoration: none;
    color: rgb(199, 255, 213);
}
.container .applicantInfo .box .text h3{
    color: rgb(255, 232, 23);
}
.applicantForm{
    width: 40%;
    padding: 20px 50px;
    background-color: #fff;
    margin-top: 20px;
}
.applicantForm h2{
    font-size: 30px;
    color: #333;
}
.applicantForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.applicantForm .inputBox input,
.applicantForm .inputBox textarea,
.applicantForm .inputBox select[name="options"]{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    background-color: rgb(245, 245, 245);
    outline: none;
    resize: none;
}
.applicantForm .inputBox textarea{
    height: 100px;
}
.applicantForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}




.applicantForm .inputBox input[type="submit"]{
    width: 100px;
    background:  #f3881e;  
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px){
    .applicant{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .applicantInfo{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .container .applicantInfo, .applicantForm{
        width: 100%;
    }
    .applicant .content{
        min-width: 300px;
    }
    .applicant{
        padding: 90px 0;
    }
    .content{
        min-width: 100px;;
    }
}